*{
    margin: 0;
     padding: 0;
box-sizing: border-box;
}

header{
    width: 100dvw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 0rem 1rem;
}

.nav-icon,.sec-two-two{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 5px;
    width: 35px;
    height: 35px;
}

.bar-1,.bar-2,.bar-3{
    width: 30px;
    height: 4px;
    border-radius: 15px;
    background-color: white;
}
.sec-two-two{
   background-image: url(../image/icons8-bag-64.png); 
   background-position: center;
   background-repeat: no-repeat;
   background-size: 45px;
   position: relative;
   z-index: -1;
}
.cart-count{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius:5px ;
    text-align: center;
    font-weight: bold;
    border: 1px solid gray;
}
.sec-two{
  
  width: 250px;
  
}
input{
    color: white;
    padding: 0rem 1rem;
    border: none;
    width: 250px;
    height: 30px;
    border-radius: 15px;
    background-color:#1d1d1d;
    filter: blur(100%);
    outline: none;
}
input:hover{
border:none

}


.sec-three{
   
    width: 100vw;
    height: 250px;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-container{
    width: 350px;
    height: 200px;
    background-color: #1d1d1d;
    border-radius:15px ;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory ;
}

.slider{
    
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    scroll-snap-align: center;
 
 
}

#animate{

    display: flex;
    transition: transform 1.6s ease; 
}

::-webkit-scrollbar{
    display: none;
}




.sec-four{
    width: 100dvw;
    height: 100dvh;
    background-color:#1d1d1d;
    position: absolute;
    z-index: 999;
    top: 0;
    transform: translateX(-420px);
    transition: transform 0.5s ease-in;
}

.list{
    list-style: none;
}
a{
    text-decoration: none;
}

.nav-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 90%;
    gap:30px ;
}


.navigation{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.ex-box{
    width: 100%;
    height: 10%;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.close-button{
    
    width: 50px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    display: flex;
    border-radius: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-one,.bottom-one{
    width: 35px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}

.top-one{
    transform:translateY(5px) rotate(45deg);
    
}
.bottom-one{
    transform: rotate(-45deg);
}





/* main body page */



.container-one{
   
    width: 100dvw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-container{
    width: 390px;
    height: 250px;
    overflow-x:scroll;
    display: flex;
    gap: 10px;
    align-items: center;
}

.box{
    min-width: 165px;
    height: 200px;
   
    border-radius: 4px;
    position: relative;

}

.games-image{
    width: 165px;
    height: 150px;
   border-radius:5px ;
    object-fit:contain ;    
}
.name{
    text-align: end;
    
}
p{
    color: white;
  
}


/* ------------ */

.cat-box{
    width: 370px;
    height: 180px;
    display: flex;
    overflow-x: scroll;
}

.cat{
    width: 150px;
    height: 180px;
    border-radius: 10px;
    background-color: white;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(0.8);
    transition: transform 0.1s ease-in;
}
.cat:nth-child(1){
    background-image: url(../image/console.jpg);
}
.cat:nth-child(2){
    background-image: url(../image/joy.jpg);
    background-size: cover;
}
.cat:hover{
    transform: scale(0.9);
}


/* ------------------cart and buy button style----------------- */


.buying-box{
    display: flex;
    justify-content: space-between;
   
}

.buy,.cart-button{
padding: 0.2rem 0.5rem;
background-color: white;
border-radius: 5px;
border: none;
color: black;
box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

